@model IEnumerable<RpgMvc.Models.ArmaViewModel> 
@{ ViewBag.Title = "Index"; }
@if (@TempData["Mensagem"] != null) { 
 <div class="alert alert-success" role="alert">
 @TempData["Mensagem"]</div> 
} 
@if (@TempData["MensagemErro"] != null) { 
 <div class="alert alert-danger" role="alert">
 @TempData["MensagemErro"]</div> 
} 
<h2>Armas do Personagem</h2>
<table class="table">
 <tr>
 <th>
 @Html.DisplayName("Personagem") 
 </th>
<th>
 @Html.DisplayName("Arma") 
 </th>
<th>
 @Html.DisplayNameFor(model => model.Arma.Dano) 
 </th> 
 </tr>
@foreach (var item in Model) 
 { 
 <tr> 
 <td>@Html.DisplayFor(modelItem => item.Personagem.Nome) </td> 
 <td>@Html.DisplayFor(modelItem => item.Arma.Nome) </td> 
 <td>@Html.DisplayFor(modelItem => item.Arma.Dano) </td> 
 <td>@Html.ActionLink("Deletar", "Delete"
 , new {ArmaId = item.ArmaId, personagemId = item.PersonagemId } 
 , new { onclick = "return confirm('Deseja realmente deletar esta Arma ?');"}) 
 </td> 
 </tr>
 } 
</table> 
<div>
 @Html.ActionLink("Retornar aos Personagens", "Index", "Personagens")